* {
	margin: 0;
	padding: 0;
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
}

.article-list li {
	max-width: 1000px;
	height: 120px;
	margin: 30px auto;
}


@media screen and (max-width: 42em) {
  .article-list li {
	margin-left: 14px;
} }

.thumbnail {
	display: inline-block;
	width: 20%;
	height: 118px;
	float: left;
}

.thumbnail img {
	height: 118px;
	vertical-align: center;
	text-align: center;
}

@media screen and (max-width: 42em) {
  .thumbnail img {
	width: 100px;
} }

.info {
	width: 80%;
	float: left;
	padding: 5px 8px;
}

@media screen and (max-width: 42em) {
  .info {
  	margin-left: 30px;
	width: 60%;
	float: left;
} }

.info .title {
	color: #333;
}

@media screen and (max-width: 42em) {
  .info .title {
  	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient: vertical;
} }

.info .intro {
	color: #888;
	width: 99%;
	text-indent: 2em;
	font-size: 14px;
	text-align: justify;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
	margin: 12px 0;
}

.info .time {
	font-size: 13px;
	color: #999;
}

.share-list li{
	display: inline-block;
	font-size: 28px;
	margin-right: 5px;
}

.share-list a {
	color: #666;
}
